@model E_Commerce_MVC.Models.ProductModel_MVC

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProducts">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCategory" class="control-label"></label>
                <select asp-for="ProductCategory" asp-items="@ViewBag.Products" class="form-control">
                    <option disabled selected>Select a Category</option>
                </select>
                <span asp-validation-for="ProductCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Code" class="control-label"></label>
                <input asp-for="Product_Code" class="form-control" />
                <span asp-validation-for="Product_Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Name" class="control-label"></label>
                <input asp-for="Product_Name" class="form-control" />
                <span asp-validation-for="Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Description" class="control-label"></label>
                <input asp-for="Product_Description" class="form-control" />
                <span asp-validation-for="Product_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available_Qty" class="control-label"></label>
                <input asp-for="Available_Qty" class="form-control" />
                <span asp-validation-for="Available_Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Products" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
